In [2]:
#Pandas
import pandas as pd

In [3]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

In [4]:
df = iris.copy()

In [5]:
df.head(3)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [6]:
df.columns = ['sepalLength','sepalWidth','petalLength','petalWidth','flower_type']

In [7]:
print(df.shape)
print(df.dtypes)

(149, 5)
sepalLength    float64
sepalWidth     float64
petalLength    float64
petalWidth     float64
flower_type     object
dtype: object

In [8]:
df.describe()

       sepalLength  sepalWidth  petalLength  petalWidth
count   149.000000  149.000000   149.000000  149.000000
mean      5.848322    3.051007     3.774497    1.205369
std       0.828594    0.433499     1.759651    0.761292
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.400000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [12]:
df["sepalLength"]
df.sepalLength

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sepalLength, Length: 149, dtype: float64

In [99]:
df.isnull().sum()

sepalLength    0
sepalWidth     0
petalLength    0
petalWidth     0
flower_type    0
dtype: int64

In [100]:
df.iloc[1:4,2:4]

   petalLength  petalWidth
1          1.3         0.2
2          1.5         0.2
3          1.4         0.2

In [101]:
df.tail()

     sepalLength  sepalWidth  petalLength  petalWidth     flower_type
144          6.7         3.0          5.2         2.3  Iris-virginica
145          6.3         2.5          5.0         1.9  Iris-virginica
146          6.5         3.0          5.2         2.0  Iris-virginica
147          6.2         3.4          5.4         2.3  Iris-virginica
148          5.9         3.0          5.1         1.8  Iris-virginica

In [102]:
df.head()

   sepalLength  sepalWidth  petalLength  petalWidth  flower_type
0          4.9         3.0          1.4         0.2  Iris-setosa
1          4.7         3.2          1.3         0.2  Iris-setosa
2          4.6         3.1          1.5         0.2  Iris-setosa
3          5.0         3.6          1.4         0.2  Iris-setosa
4          5.4         3.9          1.7         0.4  Iris-setosa

In [103]:
df.drop(0)
df.head()

   sepalLength  sepalWidth  petalLength  petalWidth  flower_type
0          4.9         3.0          1.4         0.2  Iris-setosa
1          4.7         3.2          1.3         0.2  Iris-setosa
2          4.6         3.1          1.5         0.2  Iris-setosa
3          5.0         3.6          1.4         0.2  Iris-setosa
4          5.4         3.9          1.7         0.4  Iris-setosa

In [104]:
a = df.drop(0)
a.head()

   sepalLength  sepalWidth  petalLength  petalWidth  flower_type
1          4.7         3.2          1.3         0.2  Iris-setosa
2          4.6         3.1          1.5         0.2  Iris-setosa
3          5.0         3.6          1.4         0.2  Iris-setosa
4          5.4         3.9          1.7         0.4  Iris-setosa
5          4.6         3.4          1.4         0.3  Iris-setosa

In [105]:
df.drop(0,inplace = True)
df.head()

   sepalLength  sepalWidth  petalLength  petalWidth  flower_type
1          4.7         3.2          1.3         0.2  Iris-setosa
2          4.6         3.1          1.5         0.2  Iris-setosa
3          5.0         3.6          1.4         0.2  Iris-setosa
4          5.4         3.9          1.7         0.4  Iris-setosa
5          4.6         3.4          1.4         0.3  Iris-setosa

In [106]:
# drop by label
df.drop(3,inplace = True)
df.head()

   sepalLength  sepalWidth  petalLength  petalWidth  flower_type
1          4.7         3.2          1.3         0.2  Iris-setosa
2          4.6         3.1          1.5         0.2  Iris-setosa
4          5.4         3.9          1.7         0.4  Iris-setosa
5          4.6         3.4          1.4         0.3  Iris-setosa
6          5.0         3.4          1.5         0.2  Iris-setosa

In [107]:
df.index

Int64Index([  1,   2,   4,   5,   6,   7,   8,   9,  10,  11,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=147)

In [108]:
df.index[0],df.index[3]

(1, 5)

In [109]:
df.drop(df.index[0],inplace = True)
df.drop(df.index[[0,1]],inplace = True)
df.head()

   sepalLength  sepalWidth  petalLength  petalWidth  flower_type
5          4.6         3.4          1.4         0.3  Iris-setosa
6          5.0         3.4          1.5         0.2  Iris-setosa
7          4.4         2.9          1.4         0.2  Iris-setosa
8          4.9         3.1          1.5         0.1  Iris-setosa
9          5.4         3.7          1.5         0.2  Iris-setosa

In [110]:
df[df.sepalLength > 5]

     sepalLength  sepalWidth  petalLength  petalWidth     flower_type
9            5.4         3.7          1.5         0.2     Iris-setosa
13           5.8         4.0          1.2         0.2     Iris-setosa
14           5.7         4.4          1.5         0.4     Iris-setosa
15           5.4         3.9          1.3         0.4     Iris-setosa
16           5.1         3.5          1.4         0.3     Iris-setosa
..           ...         ...          ...         ...             ...
144          6.7         3.0          5.2         2.3  Iris-virginica
145          6.3         2.5          5.0         1.9  Iris-virginica
146          6.5         3.0          5.2         2.0  Iris-virginica
147          6.2         3.4          5.4         2.3  Iris-virginica
148          5.9         3.0          5.1         1.8  Iris-virginica

[116 rows x 5 columns]

In [111]:
c1 = df[df.flower_type == 'Iris-setosa'].describe()
c1

       sepalLength  sepalWidth  petalLength  petalWidth
count    44.000000   44.000000    44.000000   44.000000
mean      5.013636    3.422727     1.465909    0.245455
std       0.362543    0.389313     0.179071    0.110925
min       4.300000    2.300000     1.000000    0.100000
25%       4.800000    3.175000     1.400000    0.200000
50%       5.000000    3.400000     1.500000    0.200000
75%       5.200000    3.700000     1.600000    0.300000
max       5.800000    4.400000     1.900000    0.600000

In [112]:
# add a row
print(df.head())
#iloc v/s loc , iloc uses positions while loc uses labels
print(df.iloc[0])
print(df.loc[0:12])

   sepalLength  sepalWidth  petalLength  petalWidth  flower_type
5          4.6         3.4          1.4         0.3  Iris-setosa
6          5.0         3.4          1.5         0.2  Iris-setosa
7          4.4         2.9          1.4         0.2  Iris-setosa
8          4.9         3.1          1.5         0.1  Iris-setosa
9          5.4         3.7          1.5         0.2  Iris-setosa
sepalLength            4.6
sepalWidth             3.4
petalLength            1.4
petalWidth             0.3
flower_type    Iris-setosa
Name: 5, dtype: object
    sepalLength  sepalWidth  petalLength  petalWidth  flower_type
5           4.6         3.4          1.4         0.3  Iris-setosa
6           5.0         3.4          1.5         0.2  Iris-setosa
7           4.4         2.9          1.4         0.2  Iris-setosa
8           4.9         3.1          1.5         0.1  Iris-setosa
9           5.4         3.7          1.5         0.2  Iris-setosa
10          4.8         3.4          1.6         0.2  Iris-setosa
11          4.8         3.0          1.4         0.1  Iris-setosa
12          4.3         3.0          1.1         0.1  Iris-setosa

In [13]:
# add a row
df.loc[149] = [1,2,3,4,'Iris-setosa']
df.drop(0,inplace = True)

In [114]:
df.head()

   sepalLength  sepalWidth  petalLength  petalWidth  flower_type
5          4.6         3.4          1.4         0.3  Iris-setosa
6          5.0         3.4          1.5         0.2  Iris-setosa
7          4.4         2.9          1.4         0.2  Iris-setosa
8          4.9         3.1          1.5         0.1  Iris-setosa
9          5.4         3.7          1.5         0.2  Iris-setosa

In [115]:
df.tail()

     sepalLength  sepalWidth  petalLength  petalWidth     flower_type
145          6.3         2.5          5.0         1.9  Iris-virginica
146          6.5         3.0          5.2         2.0  Iris-virginica
147          6.2         3.4          5.4         2.3  Iris-virginica
148          5.9         3.0          5.1         1.8  Iris-virginica
149          1.0         2.0          3.0         4.0     Iris-setosa

In [15]:
n = df[df.flower_type == 'Iris-setosa'].count()[0]
n

49

In [117]:
df.iloc[1:55,3:5]

    petalWidth      flower_type
6          0.2      Iris-setosa
7          0.2      Iris-setosa
8          0.1      Iris-setosa
9          0.2      Iris-setosa
10         0.2      Iris-setosa
11         0.1      Iris-setosa
12         0.1      Iris-setosa
13         0.2      Iris-setosa
14         0.4      Iris-setosa
15         0.4      Iris-setosa
16         0.3      Iris-setosa
17         0.3      Iris-setosa
18         0.3      Iris-setosa
19         0.2      Iris-setosa
20         0.4      Iris-setosa
21         0.2      Iris-setosa
22         0.5      Iris-setosa
23         0.2      Iris-setosa
24         0.2      Iris-setosa
25         0.4      Iris-setosa
26         0.2      Iris-setosa
27         0.2      Iris-setosa
28         0.2      Iris-setosa
29         0.2      Iris-setosa
30         0.4      Iris-setosa
31         0.1      Iris-setosa
32         0.2      Iris-setosa
33         0.1      Iris-setosa
34         0.2      Iris-setosa
35         0.2      Iris-setosa
36         0.1      Iris-setosa
37         0.2      Iris-setosa
38         0.2      Iris-setosa
39         0.3      Iris-setosa
40         0.3      Iris-setosa
41         0.2      Iris-setosa
42         0.6      Iris-setosa
43         0.4      Iris-setosa
44         0.3      Iris-setosa
45         0.2      Iris-setosa
46         0.2      Iris-setosa
47         0.2      Iris-setosa
48         0.2      Iris-setosa
49         1.4  Iris-versicolor
50         1.5  Iris-versicolor
51         1.5  Iris-versicolor
52         1.3  Iris-versicolor
53         1.5  Iris-versicolor
54         1.3  Iris-versicolor
55         1.6  Iris-versicolor
56         1.0  Iris-versicolor
57         1.3  Iris-versicolor
58         1.4  Iris-versicolor
59         1.0  Iris-versicolor

In [118]:
df.tail()

     sepalLength  sepalWidth  petalLength  petalWidth     flower_type
145          6.3         2.5          5.0         1.9  Iris-virginica
146          6.5         3.0          5.2         2.0  Iris-virginica
147          6.2         3.4          5.4         2.3  Iris-virginica
148          5.9         3.0          5.1         1.8  Iris-virginica
149          1.0         2.0          3.0         4.0     Iris-setosa

In [119]:
df.index

Int64Index([  5,   6,   7,   8,   9,  10,  11,  12,  13,  14,
            ...
            140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64', length=145)

In [120]:
df.reset_index()

     index  sepalLength  sepalWidth  petalLength  petalWidth     flower_type
0        5          4.6         3.4          1.4         0.3     Iris-setosa
1        6          5.0         3.4          1.5         0.2     Iris-setosa
2        7          4.4         2.9          1.4         0.2     Iris-setosa
3        8          4.9         3.1          1.5         0.1     Iris-setosa
4        9          5.4         3.7          1.5         0.2     Iris-setosa
..     ...          ...         ...          ...         ...             ...
140    145          6.3         2.5          5.0         1.9  Iris-virginica
141    146          6.5         3.0          5.2         2.0  Iris-virginica
142    147          6.2         3.4          5.4         2.3  Iris-virginica
143    148          5.9         3.0          5.1         1.8  Iris-virginica
144    149          1.0         2.0          3.0         4.0     Iris-setosa

[145 rows x 6 columns]

In [123]:
df.reset_index(drop = True,inplace = True)
df

     sepalLength  sepalWidth  petalLength  petalWidth     flower_type
0            4.6         3.4          1.4         0.3     Iris-setosa
1            5.0         3.4          1.5         0.2     Iris-setosa
2            4.4         2.9          1.4         0.2     Iris-setosa
3            4.9         3.1          1.5         0.1     Iris-setosa
4            5.4         3.7          1.5         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
140          6.3         2.5          5.0         1.9  Iris-virginica
141          6.5         3.0          5.2         2.0  Iris-virginica
142          6.2         3.4          5.4         2.3  Iris-virginica
143          5.9         3.0          5.1         1.8  Iris-virginica
144          1.0         2.0          3.0         4.0     Iris-setosa

[145 rows x 5 columns]

In [125]:
df.index

RangeIndex(start=0, stop=145, step=1)

In [16]:
df.drop('sepalLength',axis = 1,inplace = True)

In [17]:
df.describe()

       sepalWidth  petalLength  petalWidth
count  149.000000   149.000000  149.000000
mean     3.044295     3.785235    1.230872
std      0.441952     1.749918    0.790475
min      2.000000     1.000000    0.100000
25%      2.800000     1.600000    0.300000
50%      3.000000     4.400000    1.300000
75%      3.300000     5.100000    1.800000
max      4.400000     6.900000    4.000000

In [18]:
del df['sepalWidth']

In [19]:
df.describe()
df.head()

   petalLength  petalWidth  flower_type
1          1.3         0.2  Iris-setosa
2          1.5         0.2  Iris-setosa
3          1.4         0.2  Iris-setosa
4          1.7         0.4  Iris-setosa
5          1.4         0.3  Iris-setosa

In [142]:
df = iris.copy()
df.columns = ['sl','sw','pl','pw','flower_type']
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [147]:
df['diff_pl_pw'] = df['pl'] - df['pw']
df.tail()

      sl   sw   pl   pw     flower_type  diff_pl_pw
144  6.7  3.0  5.2  2.3  Iris-virginica         2.9
145  6.3  2.5  5.0  1.9  Iris-virginica         3.1
146  6.5  3.0  5.2  2.0  Iris-virginica         3.2
147  6.2  3.4  5.4  2.3  Iris-virginica         3.1
148  5.9  3.0  5.1  1.8  Iris-virginica         3.3

In [159]:
## Open and read data file as specified in the question
## Print the required output in given format
import pandas as pd
iris = pd.read_csv("https://files.codingninjas.in/iris-8116.csv?_ga=2.81270484.2130760679.1637990697-980006054.1636815260")
vir = iris.copy()
c1 = vir[vir['petal.length'] > 1.5]
c2 = c1[c1.variety == 'Iris-virginica']
c2.reset_index(drop = True , inplace = True)
print(c2.iloc[:,1:])

    sepal.width  petal.length  petal.width         variety
0           3.3           6.0          2.5  Iris-virginica
1           2.7           5.1          1.9  Iris-virginica
2           3.0           5.9          2.1  Iris-virginica
3           2.9           5.6          1.8  Iris-virginica
4           3.0           5.8          2.2  Iris-virginica
5           3.0           6.6          2.1  Iris-virginica
6           2.5           4.5          1.7  Iris-virginica
7           2.9           6.3          1.8  Iris-virginica
8           2.5           5.8          1.8  Iris-virginica
9           3.6           6.1          2.5  Iris-virginica
10          3.2           5.1          2.0  Iris-virginica
11          2.7           5.3          1.9  Iris-virginica
12          3.0           5.5          2.1  Iris-virginica
13          2.5           5.0          2.0  Iris-virginica
14          2.8           5.1          2.4  Iris-virginica
15          3.2           5.3          2.3  Iris-virginica
16          3.0           5.5          1.8  Iris-virginica
17          3.8           6.7          2.2  Iris-virginica
18          2.6           6.9          2.3  Iris-virginica
19          2.2           5.0          1.5  Iris-virginica
20          3.2           5.7          2.3  Iris-virginica
21          2.8           4.9          2.0  Iris-virginica
22          2.8           6.7          2.0  Iris-virginica
23          2.7           4.9          1.8  Iris-virginica
24          3.3           5.7          2.1  Iris-virginica
25          3.2           6.0          1.8  Iris-virginica
26          2.8           4.8          1.8  Iris-virginica
27          3.0           4.9          1.8  Iris-virginica
28          2.8           5.6          2.1  Iris-virginica
29          3.0           5.8          1.6  Iris-virginica
30          2.8           6.1          1.9  Iris-virginica
31          3.8           6.4          2.0  Iris-virginica
32          2.8           5.6          2.2  Iris-virginica
33          2.8           5.1          1.5  Iris-virginica
34          2.6           5.6          1.4  Iris-virginica
35          3.0           6.1          2.3  Iris-virginica
36          3.4           5.6          2.4  Iris-virginica
37          3.1           5.5          1.8  Iris-virginica
38          3.0           4.8          1.8  Iris-virginica
39          3.1           5.4          2.1  Iris-virginica
40          3.1           5.6          2.4  Iris-virginica
41          3.1           5.1          2.3  Iris-virginica
42          2.7           5.1          1.9  Iris-virginica
43          3.2           5.9          2.3  Iris-virginica
44          3.3           5.7          2.5  Iris-virginica
45          3.0           5.2          2.3  Iris-virginica
46          2.5           5.0          1.9  Iris-virginica
47          3.0           5.2          2.0  Iris-virginica
48          3.4           5.4          2.3  Iris-virginica
49          3.0           5.1          1.8  Iris-virginica